.bodydark {
    background-color: #1B1E2B !important;
    font-family: Consolas, 'Courier New', monospace;
}

.bodylight {
    background-color: #4E5576 !important;
    font-family: Consolas, 'Courier New', monospace;
}

.center {
    display: flex;
    justify-content: center;
}

.top {
    margin-top: 3%;
}

.knowledge {
    margin-top: 5%;
}

.projects {
    margin-top: 5%;
    border-radius: 3px;
    width: 100%;
}

.projects li {
    font-size: 24px;
    list-style-type: none;
    text-shadow: 1px 1px 2px black;
}

.lightcolor {
  color: #DA4A34;
}

.projects ul {
    color: #ACADB4;
    width: 600px;
    text-shadow: 1px 1px 2px black;
}


.codeiconsdark i {
    color: #ACADB4;
    font-size: 45px;
    margin-right: 20px;
    text-shadow: 1px 1px 2px black;
}

.codeiconslight i {
  color: #D5AE4D;
  font-size: 45px;
  margin-right: 20px;
  text-shadow: 1px 1px 2px black;
}

.alight {
  color: #DA4A34;
}

.adark {
  color: #ACADB4;
  text-decoration: underline;
  text-decoration-color: #1B1E2B;
}

.plight {
  color: #D5AE4D;
  text-shadow: 1px 1px 2px black;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #ACADB4
  ;
}

.unselectable {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D5AE4D;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #242737;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #242737;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }